header
{
	background: #bbbbbb;
	width: 1903px;
	padding: 20px 0;
}

.caixa2
{
	position: relative;
	width: 940px;
	padding: 0 50em 0 0;
	margin: 0 auto;
	/*border: solid;*/
}

.btlogin
{
	position: absolute;
	display: inline;
	left: 85%;
	top: 42.4%;
	width: 120px;
	height: 50px;
	border-style: solid;
	border-color: #000000;
	border-radius: 5px;
	border-width: 1px;
	background: #cccccc;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}

.caixa
{
	position: relative;
	width: 1035px;
	margin: 0 auto;
	border: solid;
}

nav
{
	position: absolute;
	top: 50%;
	right: 0px;
	text-align: center;
	border:solid;
}

nav li
{
	display: inline;
	margin: 0 0 0 15px; /* altera o espaço interno. Cima/Direita/Baixo/Esquerda */
}

nav a
{
	text-transform: uppercase; /* Muda a forma do texto. Ex: Maiúsculo, Minúsculo */
	color: #000000; /* Muda a cor do texto */
	font-weight: bold; /* altera o peso ou intensidade da fonte. Ex: Negrito,Normal */
	font-size: 20px; /* altera o tamanho da fonte */
	text-decoration: none; /* remove decoração do texto */
}

nav a:hover
{
	color: #add8e6;
}

.produtos
{
	width: 1903px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li
{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box; /* Espaçamento Lateral dentro do percentual, então os 30% que coloquei o width será fixo. */
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover
{
	border-color: #C78C19;
}

.produtos li:active
{
	border-color: #088C19;
}

.produtos li:hover h2
{
	font-size: 34px;
}

.produtos h2
{
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao
{
	font-size: 18px;
}

.produto-preco
{
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer
{
	text-align: center;
	background: url("imagem/bg.jpg");
	padding: 40px 0;
}

.copyright
{
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}