/**, :before, :after {
	border:;
}
*/
header
{
	background: url("imagem/fundo-site3.jpg");
	width: 1903px;
	padding: 20px 0px;
}

.caixa2
{
	
}

.caixa
{
	position: relative;
	width: 1800px;
	margin: 0 auto;
	/*border: solid;*/
}

.btlogin
{
	position: absolute;
	display: inline;
	left: 85%;
	top: 39.2%;
	padding: 15px 30px;
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	background: #111111;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.btlogin:hover
{
	color: #C78C19;
}

#main-home
{
	width: 99.7%;
}

nav
{
	position: absolute;
	top: 45%;
	right: 40%;
	text-align: center;
	/*border: solid;*/
}

nav li
{
	display: inline-block;
	margin: 0 0 0 15px;
}

nav a
{
	text-transform: uppercase; /* Muda a forma do texto. Ex: Maiúsculo, Minúsculo */
	color: #ffffff; /* Muda a cor do texto */
	font-weight: bold; /* altera o peso ou intensidade da fonte. Ex: Negrito,Normal */
	font-size: 20px; /* altera o tamanho da fonte */
	text-decoration: none; /* remove decoração do texto */
}

nav a:hover
{
	color: #C78C19;
}

.apresentacao
{
	background: url("imagem/fundo-site3.jpg");
	color: #ffffff;
	padding: 30px;
	width: 1843px;
}

.banner
{
	width: 100.30%;
	display: flex;
}

.titulo2
{
	text-align: center;
	font-size: 25px;
}

p
{
	text-align: center;
	margin: 1%;
}

#missao
{ 
	font-size: 20px;
}

em strong
{
	color: #ffffff;
	/*color: #ff0000;*/
}

.beneficios
{
	/*border: solid;*/
	display: flex;
	background: url("imagem/fundo-site3.jpg");
	padding-top: 0px;
	color: #ffffff;

}

.titulo3
{
	width: 200px;
	margin: 0 0 0 2.42%;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	font-weight: bold;
}

.lista
{
	display: inline-block;
	vertical-align: top;
	width: 15%;
	margin-top: 19%;
	margin-left: -9%;
	margin-bottom: auto;
	/*border: solid;*/
	text-align: justify-all;
	list-style-type: none;
}

.itens
{
	font-style: italic;
	font-weight: bold;
	padding: 10px 0 0 0;
	color: #ffffff;
}

.imgbeneficios
{
	background: url("banner.jpg");
	width: 87%;
	margin-right: -0.3%;
	display: flex;
}

footer
{
	text-align: center;
	background: url("imagem/fundo-site3.jpg");
	width: 1903px;
	padding: 40px 0;
	overflow: hidden;
}

.copyright
{
	color: #ffffff;
	font-size: 13px;
	margin: 20px 0 0;
}