header
{
	background: url("imagem/fundo-site3.jpg");
	width: 1903px;
	padding: 20px 0px;
	/*border: solid;*/
}

.caixa
{
	position: relative;
	width: 1800px;
	margin: 0 auto;
	/*border: solid;*/
}

.btlogin
{
	position: absolute;
	display: inline;
	left: 85%;
	top: 39.2%;
	padding: 15px 30px;
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	background: #111111;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;

}

.btlogin:hover
{
	color: #C78C19;
}

.btlogin:active
{
	border-color: #088C19;
}

nav
{
	position: absolute;
	top: 45%;
	right: 40%;
	text-align: center;
	/*border: solid;*/
}

nav li
{
	display: inline-block;
	margin: 0 0 0 15px;
}

nav a
{
	text-transform: uppercase; /* Muda a forma do texto. Ex: Maiúsculo, Minúsculo */
	color: #ffffff; /* Muda a cor do texto */
	font-weight: bold; /* altera o peso ou intensidade da fonte. Ex: Negrito,Normal */
	font-size: 20px; /* altera o tamanho da fonte */
	text-decoration: none; /* remove decoração do texto */
}

nav a:hover
{
	color: #C78C19;
}

main
{
	width: 940px;
	margin: 1% 0 1% 25%;
	/*border:solid;*/
}

form
{
	margin: 5% 0;
}

form label
{
	display: block;
	font-size: 20px;
	margin: 0 0 0 46%;
	padding: 1% 0;
}

form input
{
	display: block;
	margin: 0 0 3% 27%;
	padding: 10px 25px;
	width: 40%;
	border-color: #111111;
	outline: 0;
}

form input:hover
{
	border-color: #C78C19;
}

.bt-enviar
{
	width: 20%;
	margin: 0 0 0 39.7%;
	font-weight: bold;
	text-transform: uppercase;
	color: #111111;
	background: #ffffff;
	border-color: #111111;
	border-radius: 10px;
}

footer
{
	text-align: center;
	background: url("imagem/fundo-site3.jpg");
	width: 1903px;
	padding: 40px 0;
	/*border: solid;*/
	
}

.copyright
{
	color: #ffffff;
	font-size: 13px;
	margin: 20px 0 0;
}

