header
{
	background: #bbbbbb;
	width: 1903px;
	padding: 20px 0px;
}

.caixa2
{
	position: relative;
	width: 940px;
	padding: 0 50em 0 0;
	margin: 0px auto;
	/*border: solid;*/
	
}

.btlogin
{
	position: absolute;
	display: inline;
	left: 85%;
	top: 42.4%;
	width: 120px;
	height: 50px;
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	background: #cccccc;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.caixa
{
	position: relative;
	width: 1035px;
	margin: 0 auto;
	border: solid;
}

nav
{
	position: absolute;
	top: 50%;
	right: 0%;
	text-align: center;
	border: solid;
}

nav li
{
	display: inline-block;
	margin: 0 0 0 15px;
}

nav a
{
	text-transform: uppercase; /* Muda a forma do texto. Ex: Maiúsculo, Minúsculo */
	color: #000000; /* Muda a cor do texto */
	font-weight: bold; /* altera o peso ou intensidade da fonte. Ex: Negrito,Normal */
	font-size: 20px; /* altera o tamanho da fonte */
	text-decoration: none; /* remove decoração do texto */
}

nav a:hover
{
	color: #add8e6;
}

.apresentacao
{
	background: #cccccc;
	padding: 30px;
	width: 1843px;
}

.banner
{
	width: 1903px;
	margin: 0 0 -2px 0;
}

.titulo2
{
	text-align: center;
}

p
{
	text-align: center;
	margin: 1%;
}

#missao
{ 
	font-size: 20px;
}

em strong
{
	color: #ff0000;
}

.beneficios
{
	/*border: solid;*/
	background: #cccccc;
	padding-top: -200px;

}

.titulo3
{
	width: 200px;
	margin: 0 0 0 2.42%;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	font-weight: bold;
}

.lista
{
	display: inline-block;
	vertical-align: top;
	width: 10.6%;
	margin-top: 21.5%;
	margin-left: -10%;
	text-align: justify-all;
	list-style-type: none;
}

.itens
{
	font-style: italic;
	font-weight: bold;
	padding: 10px 0 0px 0;
}

.imgbeneficios
{
	width: 86%;
}

footer
{
	text-align: center;
	background: url("imagem/bg.jpg");
	padding: 40px 0;
}

.copyright
{
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}